<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your CD's are:</title>
  </head>
  <body>
      <h1>Your CD's are:</h1>
      <ul>Title: {{display_CD.getTitle}}</ul>
      <ul>Artist: {{display_CD.getArtist}}
      <p>
        <!-- {{dump(display_CD)}} -->
      </p>
  </body>
</html>
